@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
body{
    font-family: 'Kiwi Maru', serif;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

}
#wrapper {
    min-height: calc(100% - 20rem);
    position: relative;
}
html, body {
    height: 100%;
}
h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 0%;
    margin-top: 0%;
}
p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0%;
    margin-top: 0%;
}
.topnav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0908;
    max-height: 5rem;
}
.topnav a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    color: #F2F4F3;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #C1EEFF, #C1EEFF 50%, #F2F4F3 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;

}
.topnav a:hover, .footer-icon-items:hover{
    background-position: 0 100%;
    border-color: #C1EEFF;
    
}
.topnav .nav-icon {
    font-size: 4rem;
}
.footer{
    background-color: #0A0908;
    width: 100%;
    height: auto;
    bottom: 0;
}
.footer-content, .footer-icons, .footer-copyright {
    width: 85%;
    margin: 0 auto;
}
.footer-icons{
    display: flex;
    justify-content: center;
    border-top: 1px solid #F2F4F3;
    padding-top: 4%;
}
.footer-icon-items{
    color:#F2F4F3;
    border-radius: 50%;
    border: 1px solid;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #C1EEFF, #C1EEFF 50%, #F2F4F3 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.footer-content{
    padding-bottom: 3%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}
.footer-copyright p {
    color:#F2F4F3;
    text-align: center;
    font-size: 12px;
    padding-bottom: 4%;
}

.footer-content-text h1{
    color: #C1EEFF;
}
.footer-content-text p {
    color:#F2F4F3;
    text-align: center;
}
.footer-content img {
    margin-right: 4%;
}
main {
    height: 40rem;
    padding: 81px;
    display: flex;
    align-items: center;
}
.calculator {
    width: 50%;
    height: 85%;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 #011936, 0 6px 20px 0 #EBFCFB;
    animation-duration: 3s;
    animation-name: slidein;
}
.calculator-header {
    background-color: #EBFCFB;
    height: 30%;
    padding-bottom: 4%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-right: 2%;
}
.calculator-header h3{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
}
.calculator-content {
    background-color: #011936;
    height: 70%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.calculator-content-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    height: 100%;
    border-bottom: 1px #EBFCFB solid;
}
.equals {
    grid-column: 4;
    grid-row: 2/6;
}
.calculator-content-item{
    border-left: 1px #EBFCFB solid;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FBFFF1;
    background-color: #011936;
    cursor: pointer;
}
.calculator-content-item:active{
    background-color: #EBFCFB;
    color: #011936;
    border: 0px solid #EBFCFB;
    outline: 0px solid;
}
.calculator-content-items{
    text-align: center;
}
@keyframes slidein {
    from {
      margin-top: 50%;
      width: 50%
    }
  
    to {
      margin-top: 0%;
      width: 50%;
    }
}
@media only screen and (max-width: 980px){
    .calculator {
        width: 90%;
    }
    main {
        padding: 2%;
    }
    .footer-content {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 12%;
        padding-top: 12%;
    }
    .footer-content-text {
        text-align: center;
        padding-bottom: 4%;
    }
    .footer-content img {
        margin: 0 auto;
    }
    @keyframes slidein {
        from {
          margin-top: 90%;
          width: 90%;
        }
      
        to {
          margin-top: 0%;
          width: 90%;
        }
    }
}