@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
body{
    font-family: 'Kiwi Maru', serif;
    margin: 0;
}
h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 0%;
    margin-top: 0%;
}
p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0%;
    margin-top: 0%;
}
.topnav{
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0908;
    max-height: 5rem;
}
.topnav a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    color: #F2F4F3;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #C1EEFF, #C1EEFF 50%, #F2F4F3 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;

}
.topnav a:hover, .footer-icon-items:hover{
    background-position: 0 100%;
    border-color: #C1EEFF;
    
}
.topnav .nav-icon {
    font-size: 4rem;
}
.footer{
    background-color: #0A0908;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 20rem;
}
.footer-content, .footer-icons, .footer-copyright {
    width: 85%;
    margin: 0 auto;
}
.footer-icons{
    display: flex;
    justify-content: center;
    border-top: 1px solid #F2F4F3;
    padding-top: 4%;
}
.footer-icon-items{
    color:#F2F4F3;
    border-radius: 50%;
    border: 1px solid;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #C1EEFF, #C1EEFF 50%, #F2F4F3 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.footer-content{
    padding-bottom: 3%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}
.footer-copyright p {
    color:#F2F4F3;
    text-align: center;
    font-size: 12px;
    padding-bottom: 4%;
}

.footer-content-text h1{
    color: #C1EEFF;
}
.footer-content-text p {
    color:#F2F4F3;
    text-align: center;
}
.footer-content img {
    margin-right: 4%;
}